In [20]:
%config Completer.use_jedi = False

In [21]:
import pandas as pd

In [71]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [13]:
df = pd.read_csv('./Datasets/Real/BankChurners.csv')

In [14]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [72]:
df.describe()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
count,10127.000,10127.000,10127.000,10127.000,10127.000,10127.000,10127.000,10127.000,10127.000,10127.000,10127.000,10127.000,10127.000,10127.000,10127.000,10127.000,10127.000
mean,739177606.334,46.326,2.346,35.928,3.813,2.341,2.455,8631.954,1162.814,7469.140,0.760,4404.086,64.859,0.712,0.275,0.160,0.840
std,36903783.450,8.017,1.299,7.986,1.554,1.011,1.106,9088.777,814.987,9090.685,0.219,3397.129,23.473,0.238,0.276,0.365,0.365
min,708082083.000,26.000,0.000,13.000,1.000,0.000,0.000,1438.300,0.000,3.000,0.000,510.000,10.000,0.000,0.000,0.000,0.000
25%,713036770.500,41.000,1.000,31.000,3.000,2.000,2.000,2555.000,359.000,1324.500,0.631,2155.500,45.000,0.582,0.023,0.000,1.000
50%,717926358.000,46.000,2.000,36.000,4.000,2.000,2.000,4549.000,1276.000,3474.000,0.736,3899.000,67.000,0.702,0.176,0.000,1.000
75%,773143533.000,52.000,3.000,40.000,5.000,3.000,3.000,11067.500,1784.000,9859.000,0.859,4741.000,81.000,0.818,0.503,0.000,1.000
max,828343083.000,73.000,5.000,56.000,6.000,6.000,6.000,34516.000,2517.000,34516.000,3.397,18484.000,139.000,3.714,0.999,1.000,1.000

# GENERATE METADATA

In [16]:
import json
import os

In [9]:
FEATURE_CATEGORICAL = 'categorical'
FEATURE_NUMERIC = 'numeric'

features = {
    'CLIENTNUM': FEATURE_NUMERIC,
    'Attrition_Flag': FEATURE_CATEGORICAL,
    'Customer_Age': FEATURE_NUMERIC,
    'Gender': FEATURE_CATEGORICAL,
    'Dependent_count': FEATURE_NUMERIC,
    'Education_Level': FEATURE_CATEGORICAL,
    'Marital_Status': FEATURE_CATEGORICAL,
    'Income_Category': FEATURE_CATEGORICAL,
    'Card_Category': FEATURE_CATEGORICAL,
    'Months_on_book': FEATURE_NUMERIC,
    'Total_Relationship_Count': FEATURE_NUMERIC,
    'Months_Inactive_12_mon': FEATURE_NUMERIC,
    'Contacts_Count_12_mon': FEATURE_NUMERIC,
    'Credit_Limit': FEATURE_NUMERIC,
    'Total_Revolving_Bal': FEATURE_NUMERIC,
    'Avg_Open_To_Buy': FEATURE_NUMERIC,
    'Total_Amt_Chng_Q4_Q1': FEATURE_NUMERIC,
    'Total_Trans_Amt': FEATURE_NUMERIC,
    'Total_Ct_Chng_Q4_Q1': FEATURE_NUMERIC,
    'Avg_Utilization_Ratio': FEATURE_NUMERIC,
    
}

In [26]:
os.makedirs('./Datasets/Real/BankChurners/', exist_ok=True)
json.dump(features, open('./Datasets/Real/BankChurners/metadata.json', 'w'))

# GENERATE SEMI-SYNTHETIC DATASETS

In [91]:
os.makedirs('./Datasets/Real/BankChurners/Clear/', exist_ok=True)

for i in range(1, 31):
    df.sample(3000, replace=True, random_state=i)\
        .to_csv(f'./Datasets/Real/BankChurners/Clear/dataset_{i}.csv', index=False)

# GENERATE DIRTY DATASETS

In [86]:
os.makedirs('./Datasets/Real/BankChurners/DirtySingleColumn/', exist_ok=True)
os.makedirs('./Datasets/Real/BankChurners/DirtySingleAnomaly/', exist_ok=True)
os.makedirs('./Datasets/Real/BankChurners/DirtyGroup/', exist_ok=True)
os.makedirs('./Datasets/Real/BankChurners/DirtyBase/', exist_ok=True)

In [92]:
for i in range(10):
    df.sample(3000, replace=True, random_state=1234+i)\
        .to_csv(f'./Datasets/Real/BankChurners/DirtyBase/dataset_{i}.csv', index=False)